


#projects {

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;

    font-size: 15px;

}


.container {

    width: 300px;
}








@media (max-width: 600px) {

    #projects {

        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 20px;

    }





}