body {
  background-color: rgb(159, 159, 160);
}

ul {
  
  display: flex;
  justify-content: space-between;
  width: 80%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



#projects {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 30px;
}



@media (max-width: 600px) {


  body {
    background-color: blue;
    color: aliceblue;
  }

  nav {
    
    display: flex;
    flex-direction: column;
  }



}
