body {
  background-color: rgb(38, 248, 73);
  color: rgb(28, 47, 82);
  font-family: "Bungee", sans-serif;
  font-size: 30px;
  margin: 20px;
  
}

ul {
  
  display: flex;
  justify-content: space-between;
  width: 80%;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: rgb(165, 199, 199);
  height: 6rem;
  font-size: larger;
}



#projects {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin-left: 30px;
}



@media (max-width: 600px) {


  body {
    background-color: lightcoral;
    color: aliceblue;
  }

  nav {
    
    display: flex;
    flex-direction: column;
  }



}
